# Dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/
.next/
next-env.d.ts

# Production
/build
/dist

# Environment Variables

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Vercel
.vercel

# Docker
docker-volumes/
*.dockerfile.ignore

# Local Development
*.local
*.ignore

# Logs
logs
*.log

# Cache
.cache/
.eslintcache

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# Misc
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
.terraform.d/
!terraform/dev.tfvars  # Move this exception after all Terraform rules

# LocalStack
.localstack/
volume/
.volume/
localstack-volume/

dist/
